@charset "UTF-8";
/*fonts
.nanum-pen script-regular {
  font-family: "Nanum Pen Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.zen-maru gothic-regular {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 400;
  font-style: normal;
  
.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}
*/
/*html*/
html{
	font-size:75%
}

/*h1*/
h1{
	border-bottom: solid;
	background-color: #778899;
	border-width: 1px;
	color:white;
	font-family: "Nanum Pen Script", cursive;
 	font-weight: 400;
  	font-style: normal;
}


/*p */
p,th,td{
	font-family: "Zen Maru Gothic", serif;
  	font-weight: 400;
 	font-style: normal;
}


/*textarea*/
textarea{
	width:400px;
	height:300px;
}




/*loading*/
.hello_world{
	font-family: "Permanent Marker", cursive;
  	font-weight: 400;
  	font-style: normal;
  	font-size:5rem;
  	color:white;
	
}
/* Footer */
footer {
    background-color: #708090;
    text-align: center;
    color:white;
    padding-top:15px;
    padding-bottom:15px;
}



/*main*/
#wrap{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 10px;
	grid-row-gap: 15px;
	}



/* img*/
.main_img{
	 width:30rem;
	 height:40rem;
	 object-fit: cover;
}


.div1{
	 grid-area: 1 / 1 / 4 / 2; 
}

.div2{
	 grid-area: 1 / 2 / 2 / 3; 
}

.div3{
	 grid-area: 2 / 2 / 3 / 3; 
	 }

.div4{
	grid-area: 3 / 2 / 4 / 3;
}

body{
	padding:25px;
	background-color: #f0f8ff;
}

/*lodaing*/
#loading{
	background-color: #778899;
	position:fixed;
	inset:0;
	z-index:9999;
	display: grid;
	place-items: center;
}

.back_top{
	text-align: center;
	font-family: "Nanum Pen Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}


